<%
  locals.page_title = 'George Miroshnykov';
  locals.page_descr = 'George Miroshnykov';
  locals.js  = ['index/index.js'];
  locals.css = ['index/index.css'];
-%>
<% include ../layout_head.ejs -%>
<main><%- body %></main>
<% include ../layout_foot.ejs -%>