.board {
  height: 100%;

  &__panel {
    position: relative;
    height: 100%;
    margin: 0;
    border: 0;
  }

  &__head {
    padding: 0;
    width: 100%;
    height: 58px;
    background: none !important;
    border: 0;
  }

  &__body {
    position: absolute;
    bottom: 0;
    right: 10px;
    left: 10px;
    top: 68px;
    padding: 0;
  }

  &__field {
    position: absolute;
    bottom: 72px;
    left: 0;
    top: 0;
    width: 100%;
  }

  &__letters {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
  }

  &__player {
    float: left;
    padding-top: 12px;
    width: 50%;

    &:first-child {
      padding-right: 5px;
      text-align: right;
    }
    &:last-child {
      padding-left: 5px;
      text-align: left;
    }
  }

  &__btn {
    float: none !important;
    outline: none !important;
  }

  &__btns {
    position: absolute;
    margin-top: -17px;
    text-align: center;
    width: 50%;
    top: 50%;

    &_left {
      padding-right: 182px;
      left: 0;
    }
    &_right {
      padding-left: 182px;
      right: 0;
    }
  }
}