.board {
  &__panel {
    margin: 0;
  }

  &__head {
    padding: 0;
    height: 58px;
    background: none !important;
  }

  &__body {
    padding: 10px;
  }

  &__letters {
    position: relative;
    margin-top: 10px;
  }

  &__player {
    float: left;
    padding-top: 12px;
    width: 50%;

    &:first-child {
      padding-right: 5px;
      text-align: right;
    }
    &:last-child {
      padding-left: 5px;
      text-align: left;
    }
  }

  &__btn {
    float: none !important;
    outline: none !important;
  }

  &__btns {
    position: absolute;
    margin-top: -17px;
    text-align: center;
    width: 120px;
    top: 50%;

    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
  }
}