<%
  locals.page_title = 'Словник';
  locals.page_descr = 'Словник';
  locals.js  = ['dict/dict.js'];
  locals.css = ['dict/dict.css'];
-%>
<% include ../layout_head.ejs -%>
<main><%- body %></main>
<% include ../layout_foot.ejs -%>