.stream {
  margin: 0;

  &__item {
    margin-bottom: 10px;

    &_me {
      text-align: right;
    }
  }

  &__balloon {
    display: inline-block;
    padding: 4px 8px 4px 4px;
    border: 1px solid #eee;
    border-radius: 4px;
  }

  &__avatar {
    float: left;
    margin-right: 5px;
  }

  &__message {
    overflow: hidden;
    line-height: 10px;
    text-align: left;
  }

  &__message-text {
    margin: 0;
    line-height: 14px;
  }

  &__message-date {
    font-size: 10px;
    color: #777;
  }
}