.stream {
  position: relative;
  height: 100%;
  margin: 0;

  &:before {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    height: 30px;
    width: 100%;
    content: "";

    background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,.0) 100%);
    background-image:    -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,.0) 100%);
    background-image:     -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,.0) 100%);
    background-image:      -o-linear-gradient(top, #fff 0%, rgba(255,255,255,.0) 100%);
    background-image:         linear-gradient(top, #fff 0%, rgba(255,255,255,.0) 100%);
  }
  
  &__line {
    overflow: auto;
    position: absolute;
    width: 100%;
    bottom: 35px;
    top: 0;

    -webkit-overflow-scrolling: touch;
  }

  &__line-wrap {
    display: table;
    height: 100%;
    width: 100%;
  }

  &__items {
    display: table-cell;
    vertical-align: bottom;
    height: 100%;
    width: 100%;
  }

  &__item {
    margin-top: 10px;
  }

  &__balloon {
    display: inline-block;
    padding: 4px 8px 4px 4px;
    border: 1px solid #eee;
    border-radius: 4px;
  }

  &__item_chat &__balloon {
    background: #eee;
  }

  &__item-enter &__balloon {
    transition: background 1s ease-out;
    background: #eee;
  }
  &__item-enter&__item-enter-active &__balloon {
    background: #fff;
  }

  &__item_chat&__item-enter &__balloon {
    transition: background 1s ease-out;
    background: #fff;
  }
  &__item_chat&__item-enter&__item-enter-active &__balloon {
    background: #eee;
  }

  &__avatar {
    float: left;
    margin: 0 5px 0 0;
  }

  &__message {
    overflow: hidden;
    line-height: 10px;
  }

  &__message-text {
    margin: 0;
    line-height: 14px;
  }

  &__message-date {
    font-size: 10px;
    color: #777;
  }

  &__foot {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  &__input {
    padding: 0 0 0 30px;
    height: 30px;
    width: 100%;
    outline: none;
    border: none;
  }

  &__input-icon {
    position: absolute;
    margin-top: -.5em;
    left: 7px;
    top: 50%;
    color: #777;
  }
}