.field {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;

  background: no-repeat center;
  background-image: url("img/bg.png");
  background-size: contain;
  
  &__cell {
    position: absolute;
    overflow: hidden;
    height: 6.6666%;
    width: 6.6666%;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;    
    text-align: center;
    line-height: 44px;
    font-weight: 600;
    font-size: 30px;

    &_al {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &_ar {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &_at {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &_ab {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}