.field {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;

  background: no-repeat center;
  background-image: url("img/bg.svg");
  background-size: contain;
  
  &__cell {
    display: table;
    position: absolute;
    overflow: hidden;
    height: 6.6666%;
    width: 6.6666%;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    font-weight: 700;
    line-height: 24px;
    font-size: 24px;

    &_al {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &_ar {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &_at {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &_ab {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__cell-wrap {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
  }
}