.games {
  &__list {
    margin-bottom: 10px;
  }

  &__play {
    float: right;
    margin-left: 5px;
  }

  &__delete {
    float: right;
  }

  &__game {
    cursor: pointer;

    &_current {
      background: #eee;
    }
  }
}