.games {
  &__group {
    margin: 10px 0;
  }

  &__list {
    margin-bottom: 0;
  }

  &__delete {
    float: right;
  }

  &__game {
    overflow: hidden;
    border-color: #eee;
    cursor: pointer;

    &_cur {
      background: #f9f9f9;
    }
  }

  &__preview {
    float: left;
    background: #eee;
  }

  &__users {
    overflow: hidden;
    margin-bottom: 5px;
  }

  &__user {
    float: left;

    & + & {
      margin-left: -2px;
    }
  }

  &__title {
    margin: 15px 0;
  }

  &__info {
    margin-left: 50px;
    line-height: 20px;

    table {
      width: 100%;
      table-layout: fixed;
    }

    td:first-child {
      width: 25px;
    }

    td:last-child {
      text-align: right;
      width: 35%;
    }
  }

  &__info-row {
    &_cur {
      font-weight: 500;
    }
  }

  &__ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}