.user {
  overflow: hidden;
  vertical-align: top;
  line-height: 15px;

  &_right {
    text-align: right
  }

  &__avatar {
    float: left;
    margin-right: 10px;
  }

  &_right &__avatar {
    float: right;
    margin-left: 10px;
    margin-right: 0;
  }

  &__name {
    font-size: 12px;
  }

  &__info {
    float: left;
  }

  &_right &__info {
    float: right;
  }
}