@import (inline) '../css/bootstrap/bootstrap.css';
@import (inline) '../css/bootstrap/bootstrap-theme.css';
@import (inline) '../css/font-awesome/font-awesome.css';

html, body, main {
  height: 100%;
}

main {
  display: table;
  width: 100%;
}

body {
  margin: 0;
}

body, input, button {
  font-family: Arial;
}

img {
  display: block;
}

.modal-header,
.modal-footer,
.modal-body,
.list-group-item {
  padding: 10px;
}

.modal-title {
  line-height: 1;
}