.menu {
  overflow: auto;
  position: relative;
  margin: 0 !important;
  height: 100%;
  border: 0;
  
  -webkit-overflow-scrolling: touch;

  &__btns {
    float: right;
    margin-top: 6px;
    margin-left: 10px;
  }
}