.layout {
  &__page {
    position: relative;
    margin: 10px auto;
    height: 742px;
    width: 998px;
  }

  &__aside {
    position: absolute;
    height: 100%;
    width: 366px;
    left: 0;
    top: 0;
  }

  &__content {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    height: 100%;
    width: 622px;
    border-radius: 5px;
  }
}