.layout {
  &__page {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -370px 0 0 -498px;
    height: 740px;
    width: 996px;
  }

  &__aside {
    position: absolute;
    height: 100%;
    width: 356px;
    left: 0;
    top: 0;
  }

  &__content {
    position: absolute;
    height: 100%;
    width: 600px;
    right: 0;
    top: 0;
  }
}