.layout {
  &__page {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -360px 0 0 -488px;
    height: 720px;
    width: 976px;
  }

  &__aside {
    position: absolute;
    height: 100%;
    width: 356px;
    left: 0;
    top: 0;
  }

  &__content {
    position: absolute;
    height: 100%;
    width: 600px;
    right: 0;
    top: 0;
  }
}